body {
    border: 5px solid box;
    align-content: center;
    font-size: 20px;
    background-image: url(https://c.pxhere.com/images/67/0f/6be4722ca323c575e92dfe113a72-1566373.jpg!d);
    font-family: 'Times New Roman', Times, serif;
}

.quiz {
    text-align: center;
    color: black;
    width: 700px;
    height: 500px;
    background-color: #b29966;
    margin: auto;
    opacity: .9;
}
